#notes_section
  .note
    border: 1px solid darken($light, 15%)
    background-color: darken($light, 10%)
    border-radius: 1px
    padding-top: 5px
    margin: 10px 0

    .note__header
      margin: 5px 10px
      

    .note__text
      margin: 15px 10px

      &.toggled
        display: none